.information {
    background-color: $dark-brown;
    min-height: 341px;
    width: 100%;

    &__list {
        display: flex;
        justify-content: space-between;

        @include tablet {
            flex-direction: column;
            justify-content: center;
            padding:0 0 64px;
        }

        @include mobile {
            padding: 0 0 81px;
        }
    }

    &__item {
        margin: 103px 0 0;
        min-height: 134px;
        width: 360px;
        display: flex;
        flex-direction: column;
        align-self: center;

    }

    &__img {
        height: 32px;
        width: 45px;
        margin: 0 0 28px;
        align-self: center;
    }

    &__wrapper {
        color: $white;
        margin: 0 0 16px;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        align-self: center;
    }

    &__text {
        min-height: 34px;
        width: 360px;
        color: $grey;
        font-size: 16px;
        line-height: 15px;
        font-weight: 300;
        text-align: center;
    }
}

