.offers {

    @include tablet {
        margin: 0 16px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include mobile {
            flex-direction: column;
        }
    }
    
    &__item {
        min-height: 260px;
        width: 31%;
        background-color:$brown;
        color: $white;
        margin: 0 0 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        @include mobile {
            width: 100%;
        }

        &--women {
        background-image: url(/shop/img/women.jpg);
        }

        &--men {
            background-image: url(/shop/img/man2.jpg);
        }
        
        &--kids {
            background-image: url(/shop/img/kids.jpg);
        }
        
        &--accesories {
            background-image: url(/shop/img/accesories.jpg);
            min-height: 180px;
            width: 100%;
            margin: 0 0 96px;
        }
    

    }
    
    &__item-text {
        display: block;
        color: $dark-pink;
        text-transform: uppercase;
    }

}

