body {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.container {
    width: 1140px;
    margin: 0 auto;

    @include tablet {
        width: 100%;
    }

    @include mobile {
        width: 100%;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.title {
    width: 100%;
    background-color: $pink;
    min-height: 148px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
        justify-content: center;
    }


    &__text {
        color: $dark-pink;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        text-align: left;
        box-sizing: border-box;
        //padding: 60px 230px;
        text-transform: uppercase;

        @include tablet {
            box-sizing: border-box;
        padding: 0 16px 0;
        align-self: center;
        }

        @include mobile {
            display: flex;
            justify-content: center;
            }
    }
}