
    $dark-blue: #222222;
    $pink: #F1E4E6;
    $dark-pink: #F16D7F;
    $brown: #211616B2;
    $white: #FFFFFF;
    $maxlight-grey: #E1E1E1;
    $light-grey: #F8F8F8;
    $dark-grey: #5D5D5D;
    $grey: #9F9F9F;
    $dark-brown: #222224;
    $black: #000000;
    $grey-grey: #A4A4A4;

    $mobile-width: 480px;
    $minitablet-width: 768px;
    $tablet-width:  1140px;
    $desktop-width: 1600px
