@import './reset';
@import './variables';
@import './mixins';
@import './general';
@import './blocks/header';
@import './blocks/brand';
@import './blocks/offers';
@import './blocks/product';
@import './blocks/information';
@import './blocks/footer';
@import './blocks/registration';
@import './blocks/cart';
@import './blocks/product-page';