/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.container {
  width: 71%;
  margin: 0 230px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.title {
  width: 100%;
  background-color: #F1E4E6;
  min-height: 148px;
  display: flex;
}
.title__text {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  box-sizing: border-box;
  padding: 60px 230px;
  text-transform: uppercase;
}

.header {
  width: 100%;
  background: #222222;
  min-height: 75px;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 75px;
}
.header__dropdown {
  position: relative;
  display: inline-block;
}
.header__button {
  background-color: transparent;
  border: none;
  margin: 0 33px 0 0;
  position: relative;
}
.header__nav {
  display: none;
  background-color: #FFFFFF;
  height: 764px;
  width: 232px;
  box-sizing: border-box;
}
.header:hover, .header:active {
  display: block;
}
.header__menu {
  box-sizing: border-box;
  padding: 37px 73px 157px 33px;
  display: flex;
  flex-direction: column;
}
.header__title {
  text-transform: uppercase;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  margin: 0 0 24px;
}
.header__item {
  list-style: none;
  box-sizing: border-box;
  padding: 0 0 20px;
}
.header__subtitle {
  text-transform: uppercase;
  margin: 0 0 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  color: #F16D7F;
}
.header__link {
  margin: 0 0 11px 21px;
}
.header__link-link {
  text-decoration: none;
  color: #000000;
}
.header__button {
  background-color: transparent;
  border: none;
  margin: 0 33px 0 0;
}
.header__person-link {
  margin: 0 33px 0 0;
}
.header__logo {
  margin: 0 34px 0 0;
}
.header__loup {
  fill: #F8F8F8;
}

.header__button:hover + .header__nav,
.header__button:active + .header__nav {
  display: block;
}

.brand {
  display: flex;
  background: #F1E4E6;
  margin: 0 0 63px;
}
.brand__img {
  width: 50%;
  height: auto;
}
@media (max-width: 768px) {
  .brand__img {
    width: 385px;
    height: 370px;
  }
}
.brand__title {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
}
.brand__title-wrapper {
  box-sizing: border-box;
  margin: 0 0 0 91px;
  display: flex;
  flex-grow: 1;
  background-color: #F1E4E6;
  align-items: center;
  position: relative;
}
.brand__title-wrapper::before {
  content: "";
  background-color: #F16D7F;
  height: 92px;
  width: 12px;
  position: absolute;
  left: -28px;
}
.brand__subtitle {
  font-size: 37px;
  font-weight: 700;
  line-height: 44px;
  display: block;
}
.brand__subtitle-pink {
  color: #F16D7F;
}

.offers__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.offers__item {
  min-height: 260px;
  width: 360px;
  background-color: rgba(33, 22, 22, 0.6980392157);
  color: #FFFFFF;
  margin: 0 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offers__item--women {
  background-image: url(/shop/img/women.jpg);
}
.offers__item--men {
  background-image: url(/shop/img/man2.jpg);
}
.offers__item--kids {
  background-image: url(/shop/img/kids.jpg);
}
.offers__item--accesories {
  background-image: url(/shop/img/accesories.jpg);
  min-height: 180px;
  width: 100%;
  margin: 0 0 96px;
}
.offers__item-text {
  display: block;
  color: #F16D7F;
  text-transform: uppercase;
}

.product__title {
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  margin: 0 0 6px;
}
.product__subtitle {
  display: flex;
  justify-content: center;
  margin: 0 0 48px;
  color: #9F9F9F;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.product__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product__item {
  min-height: 581px;
  width: 360px;
  margin: 0 0 30px;
  justify-content: flex-start;
  position: relative;
}
.product__overlay-button {
  border: none;
  background-color: #F8F8F8;
}
.product__item-wrapper {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}
.product__item--info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 25px 20px 16px 28px;
  min-height: 116px;
  width: 314px;
}
.product__item-text {
  margin: 12px 0 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #5D5D5D;
}
.product__item-price {
  margin: 18px 0 0;
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.product__button {
  min-height: 47px;
  width: 211px;
  border: 1px solid #F16D7F;
  justify-content: center;
  background-color: #FFFFFF;
}
.product__button--text {
  box-sizing: border-box;
  padding: 14px 38px 13px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #F16D7F;
}
.product__button--text:hover, .product__button--text:active {
  color: #FFFFFF;
}
.product__button:hover, .product__button:active {
  background-color: #F16D7F;
}
.product__button-inner {
  margin: 48px 0 95px;
  display: flex;
  justify-content: center;
}

.product__overlay-button:hover + .overlay,
.product__overlay-button:focus + .overlay {
  display: block;
}

.overlay {
  display: none;
  width: 100%;
  min-height: 420px;
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  top: 0;
}
.overlay__button {
  position: relative;
  display: flex;
  height: 43px;
  width: 138px;
  border: 1px solid #FFFFFF;
  top: 188px;
  left: 111px;
  background: transparent;
}
.overlay__button::before {
  content: url(/shop/img/basket.svg);
  position: absolute;
  top: 10px;
  left: 13px;
}
.overlay__text {
  align-self: center;
  margin: 0 0 0 50px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  height: 17px;
  width: 72px;
}

.information {
  background-color: #222224;
  min-height: 341px;
  width: 100%;
}
.information__list {
  display: flex;
  justify-content: space-between;
}
.information__item {
  margin: 103px 0 0;
  min-height: 134px;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.information__img {
  height: 32px;
  width: 45px;
  margin: 0 0 28px;
  align-self: center;
}
.information__wrapper {
  color: #FFFFFF;
  margin: 0 0 16px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  align-self: center;
}
.information__text {
  min-height: 34px;
  width: 360px;
  color: #9F9F9F;
  font-size: 16px;
  line-height: 15px;
  font-weight: 300;
  text-align: center;
}

.subscribe {
  background-image: url(/shop/img/backgrond-img.jpg);
  min-height: 448px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.subscribe__profile {
  min-height: 225px;
  width: 359px;
  margin: 97px 0 0;
  display: flex;
  flex-direction: column;
}
.subscribe__profile-img {
  height: 96px;
  width: 96px;
  margin: 0 0 30px;
  align-self: center;
}
.subscribe__profile-info {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  min-height: 99px;
  width: 359px;
  text-align: center;
}
.subscribe__profile-info--italic {
  font-style: italic;
}
.subscribe__info {
  min-height: 61px;
  width: 557px;
  margin: 150px 0 0;
}
.subscribe__title {
  margin: 0 0 32px;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  display: block;
}
.subscribe__title__title--text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
.subscribe__form {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.subscribe__form-input {
  height: 49px;
  width: 256px;
  border: none;
  box-sizing: border-box;
  border-radius: 50px 0 0 50px;
  background-color: #E1E1E1;
  padding: 7px 64px 6px 22px;
}
.subscribe__form-button {
  background-color: #F16D7F;
  min-height: 49px;
  border-radius: 0 50px 50px 0;
  width: 100px;
  border: none;
}
.subscribe__form-button:hover, .subscribe__form-button:active {
  opacity: 0.5;
}
.subscribe__form-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
}

.socials {
  background-color: #222224;
  min-height: 79px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.socials__text {
  margin: 30px 0;
  color: #F8F8F8;
  height: 19px;
  width: 332px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.socials__contact {
  height: 32px;
  width: 147px;
  margin: 24px 0;
  display: flex;
  justify-content: space-around;
}
.socials__button {
  height: 32px;
  width: 31px;
  background-color: #FFFFFF;
}
.socials__button:hover, .socials__button:active {
  height: 32px;
  width: 31px;
  background-color: #F16D7F;
}
.socials__svg {
  fill: #000000;
}
.socials__svg:hover, .socials__svg:active {
  fill: #FFFFFF;
}
.socials__svg--facebook {
  padding: 8px 9px 11px 11px;
}
.socials__svg--instagram {
  padding: 8.6px 8px 8px;
}
.socials__svg--pinterest {
  padding: 8px 9px 8px 10px;
}
.socials__svg--twitter {
  padding: 9px 7px;
}

.registration {
  display: flex;
  flex-direction: column;
  margin: 0 128px 0 0;
}
.registration__wrapper {
  display: flex;
  margin: 64px 230px 96px;
}
.registration__title {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}
.registration__name {
  display: flex;
  flex-direction: column;
}
.registration__form {
  height: 44px;
  width: 359px;
  border: 1px solid #A4A4A4;
  margin: 21px 0 0;
  box-sizing: border-box;
  padding: 12px 277px 15px 16px;
}
.registration__form::placeholder {
  color: #B1B1B1;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  text-align: left;
}
.registration__gender {
  margin: 31px 0;
  min-height: 17px;
  width: 200px;
}
.registration__login {
  display: flex;
  flex-direction: column;
}
.registration__text {
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  color: #9F9F9F;
  margin: 15px 0 0;
}
.registration__button {
  height: 50px;
  width: 167px;
  margin: 39px 0 96px;
  background-color: #F16D7F;
  border: none;
}
.registration__button:hover, .registration__button:active {
  opacity: 0.7;
}
.registration__button-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.registration__information {
  min-height: 334px;
  width: 652px;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-align: left;
}
.registration__item {
  text-decoration: none;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  margin: 0 0 16px 43px;
  position: relative;
}
.registration__item::before {
  content: "";
  height: 16px;
  width: 20px;
  left: -40px;
  top: 7px;
  position: absolute;
  background-image: url(/shop/img/Vector.png);
}

.registration-information__title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
}
.registration-information__subtitle {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  margin: 22px 0 21px;
}

.cart {
  display: flex;
}
.cart__product {
  margin: 96px 0 0;
  display: flex;
  flex-direction: column;
}
.cart__item {
  display: flex;
  height: 306px;
  width: 652px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin: 0 0 40px;
}
.cart__item-img {
  height: 306px;
  width: 262px;
}
.cart__item-info {
  height: 222px;
  width: 262px;
  flex-direction: column;
  align-self: center;
  margin: 0 31px;
}
.cart__name {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  text-transform: uppercase;
  margin: 0 0 42px;
}
.cart__info {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(33, 22, 22, 0.6980392157);
  text-align: left;
}
.cart__info--price {
  position: relative;
}
.cart__info--price::before {
  position: absolute;
  content: "300$";
  color: #F16D7F;
  right: 150px;
}
.cart__info--quantity {
  position: relative;
}
.cart__info--quantity::after {
  position: absolute;
  content: "2";
  border: 1px solid #E1E1E1;
  height: 24px;
  width: 44px;
  text-align: center;
  left: 115px;
}
.cart__nuv {
  margin: 72px 0 128px;
  min-height: 50px;
  width: 652px;
  display: flex;
  justify-content: space-between;
}
.cart__button {
  border: 1px solid #9F9F9F;
  height: 50px;
  width: 235px;
  background-color: #FFFFFF;
}
.cart__button-text {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-align: center;
}
.cart__shipping {
  margin: 96px 0 0 128px;
}
.cart__shipping-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}
.cart__adress-input {
  margin: 21px 0;
  border: 1px solid #9F9F9F;
  height: 44px;
  width: 358px;
}
.cart__adress-button {
  height: 35px;
  width: 101px;
  background-color: #FFFFFF;
  margin: 23px 0 57px;
  border: 1px solid #9F9F9F;
}
.cart__adress-text {
  color: #222224;
  font-size: 11px;
  font-weight: 300;
  line-height: 13px;
  text-transform: uppercase;
  text-align: center;
}
.cart__checkout {
  height: 214px;
  width: 360px;
  background-color: #F1E4E6;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.cart__price {
  margin: 39px 34px 12px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  height: 13px;
  width: 108px;
  position: relative;
}
.cart__price::after {
  content: "900$";
  position: absolute;
  left: 70px;
}
.cart__endprice {
  margin: 12px 37px 39px;
  height: 19px;
  width: 170px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  position: relative;
}
.cart__endprice::after {
  content: "900$";
  position: absolute;
  left: 128px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #F16D7F;
}
.cart__checkout-button {
  height: 50px;
  width: 273px;
  background-color: #F16D7F;
  border: none;
  align-self: center;
  position: relative;
}
.cart__checkout-button::before {
  content: "";
  height: 1px;
  width: 275px;
  background-color: #E5E5E5;
  position: absolute;
  top: -17px;
  right: 0;
}
.cart__checkout-text {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: #FFFFFF;
  text-align: center;
}/*# sourceMappingURL=style.css.map */